body {
    background-color: darkgreen;
    box-sizing: border-box;
    text-align: center;
    display: flex;

    /* コンテンツを中央に配置する */
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    width: 980px;
    margin: 0 auto;
}

#cardsFlame {
    /* display: none; */
    width: 980px;
    clear: both;
    overflow: hidden;
    margin: 16px auto;
}

#unsorted,
#sorted {
    display: none;
}

#unsorted ul,
#sorted ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#unsorted li,
#sorted li {
    width: 195px;
    float: left;
    margin-right: 1px;
    text-align: center;
}

#unsorted li img,
#sorted li img {
    box-shadow: 0px 0px 14px #000;
    width: 50%;
}